
/* This is a partial blocks.css, you need to add more rules
   to this file to complete the assignment.  Do not add any CSS
   styling to the original index.htm / start.htm */

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Here is one of many  CSS rules you will need... */
#one {
    border: 5px solid blue;
    width: 25%;
    padding: 5px;
    margin: 5px;
    position: sticky;
    left: 100%;
    top: 100%;

}
#two {
    border: 5px solid green;
    width: 25%;
    padding: 5px;
    margin: 5px;
    position: sticky;
    left: 100%;
    bottom: 100%;
}
#three{
    border: 5px solid orange;
    width: 25%;
    padding: 5px;
    margin: 5px;
    position: sticky;
    bottom: 100%;
}
#four{
    border: 5px solid yellow;
    width: 25%;
    padding: 5px;
    margin: 5px;
    position: sticky;
    top: 100%;
}

#link{
    margin: 5px;
    background-color: blue;
    border: 5px;
    padding: 5px;
    text-align: center;
    width: 10%;
    left: 45%;
    position: sticky;
    z-index: 10;
    bottom: 100%;


}
#link a{
    color: #fefefe;

}
